<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>Inicio</a>
        <a href={% url "cargar_alumno" %}>Cargar alumno</a>
        <a href={% url "listado_de_alumnos" %}>Listado de alumnos</a>
    </nav>
    
    <h1>Listado de alumnos</h1>
    
    {% if alumnos %}
        <ul>
            {% for alumno in alumnos %}
                <li>{{alumno}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay datos.</p>
    {% endif %}
    
</body>
</html>