{% extends "base.html" %}
{% block texto_h1 %} Listado de alumnos {% endblock texto_h1 %}

{% block contenido %} 
    <form action="" method="GET">

        {{formulario}}
        
        <input type="submit" value="Buscar">
    </form>    

    {% if alumnos_buscados %}
        <ul>
            {% for alumno in alumnos_buscados %}
                <li>
                    {{alumno}}
                    | <a href={% url "alumno_detalle" alumno.id %}>Detalle</a>
                    | <a href={% url "alumno_borrar" alumno.id %}>Borrar</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay datos.</p>
    {% endif %}

{% endblock contenido %}