<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>Inicio</a>
        <a href={% url "cargar_alumno" %}>Cargar alumno</a>
        <a href={% url "listado_de_alumnos" %}>Listado de alumnos</a>
    </nav>

    <h1>{% block texto_h1 %} {% endblock texto_h1 %}</h1>
    
    {% block contenido %} {% endblock contenido %}

</body>
</html>